<?xml version="1.0" encoding="Windows-1252"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" CarInstances="200" GenerationSize="400" SequenceLength="10" GeneDuration="25">
  <FileLocation>settings.xml</FileLocation>
  <Genes>
    <Gene>GeneA</Gene>
    <Gene>GeneB</Gene>
    <Gene>GeneC</Gene>
    <Gene>GeneD</Gene>
    <Gene>GeneE</Gene>
    <Gene>GeneS</Gene>
    <Gene>GeneT</Gene>
    <Gene>GeneU</Gene>
    <Gene>GeneV</Gene>
    <Gene>GeneW</Gene>
    <Gene>GeneX</Gene>
    <Gene>GeneY</Gene>
  </Genes>
  <SelectedGenes>
    <Setting>GeneS</Setting>
    <Setting>GeneT</Setting>
    <Setting>GeneU</Setting>
    <Setting>GeneV</Setting>
    <Setting>GeneW</Setting>
    <Setting>GeneX</Setting>
    <Setting>GeneY</Setting>
  </SelectedGenes>
  <Initializers>
    <Initializer>AInit</Initializer>
    <Initializer>InitRecursiveCheat</Initializer>
    <Initializer>RandomInitializer</Initializer>
  </Initializers>
  <SelectedInitializer>InitRecursiveCheat</SelectedInitializer>
  <FitnessFunctions>
    <FitnessFunctions>DummyFitness</FitnessFunctions>
    <FitnessFunctions>HighestFitness</FitnessFunctions>
  </FitnessFunctions>
  <SelectedFitnessFunction>HighestFitness</SelectedFitnessFunction>
  <Selectors>
    <Selector>DummySelector</Selector>
    <Selector>RandomSelector</Selector>
    <Selector>RRSelector</Selector>
  </Selectors>
  <SelectedSelector>RRSelector</SelectedSelector>
  <Recombiners>
    <Recombiner>DummyRecombiner</Recombiner>
    <Recombiner>SPCOCombiner</Recombiner>
    <Recombiner>SPCOCombinerCheat</Recombiner>
    <Recombiner>UniformCrossover</Recombiner>
  </Recombiners>
  <SelectedRecombiner>SPCOCombinerCheat</SelectedRecombiner>
  <Mutators>
    <Mutator>DummyMutator</Mutator>
    <Mutator>RandomMutator</Mutator>
    <Mutator>RandomMutatorCheat</Mutator>
    <Mutator>SwapMutationWithRRs</Mutator>
  </Mutators>
  <SelectedMutator>RandomMutatorCheat</SelectedMutator>
  <Terminators>
    <Terminator>DummyTerminator</Terminator>
    <Terminator>IndividualHigherThan</Terminator>
    <Terminator>TestTerm</Terminator>
  </Terminators>
  <SelectedTerminator>IndividualHigherThan</SelectedTerminator>
</Settings>